.App{
    background-color: black;
    color:white;
    position: fixed;
    height:100%;
    width: 100%;
    display:grid;
    grid-template-columns: 20% 80%;
    font-size:20px;
}

.Bottombar{
    position:absolute;
    background-color: #1DA1F2;
    height: 50px;
    width:100%;
    bottom: 0px;
}