
.Login{
    position:absolute;
    width:100%;
    height:100%;
}

.LoginInfo{
    position: relative;
}

.LoginBox{
    position: absolute;
    background-color: #030303;
    text-align: center;
    font-size: 16px;
    border: solid white 1px;
    border-radius: 20px;
    width: 40%;
    height: fit-content;
    padding: 40px 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.LoginBox input{
    color:white;
    background: #0D0D0D;
    width:70%;
}

.LoginSubmit{
    display:inline-block;
    padding: 4px 20px;
    border-radius: 100px;
    border:white solid 1px;
}

.LoginSubmit:hover{
    cursor: pointer;
}

.LoginOptions{
    font-size: 12px;
    color: #1DA1F2;
}

.LoginOptions div span:hover{
    cursor: pointer;
}

.OpaqueScreen{
    background-color: #111111;
    width: 100%;
    height: 100%;
    opacity: 90%;
}