.AddScheduleButton{
    margin-left: 12px;
    border-radius: 100%;
    border: solid white 1.5px;
    width: 20px;
    height: 20px;
    display:inline-block;
    line-height: 17px;
    font-size: 20px;
}

.AddScheduleButton:hover{
    cursor:pointer;
}

.ApplyButton{
    border: white solid 2px;
    border-radius: 30px;
    padding: 8px;
}

.ApplyButtonDiv{
    margin-top: 28px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.ApplyButton:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

.DotwButton{
    height: 40px;
    min-width: 40px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DotwButton:hover{
    background-color: #1DA1F2;
    cursor: pointer;
}

.DotwButtons{
    display: flex;
    padding: 10px 0px;
    justify-content: center;
}

.DotwButtons span{
    margin: 0px 10px;
}

.EditNameButton{
    vertical-align: middle;
    margin-left: 8px;

}

.EditNameButton:hover{
    cursor: pointer;
}

.EditNameButton img{
    height: 20px;
}

.Header{
    font-size: 24px;
    padding-top: 20px;
    font-weight: bold;
}

.SchedulerPage{
    width: 700px;
    height: 100vh;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.ScheduleNamebar{
    font-size: 20px;
    margin: 20px auto 10px;
}

.SchedulePicker{
    display:inline-block;
}

.SchedulePicker:hover{
    cursor:pointer;
}

.InfoButton{
    border-radius: 100%;
    height: 20px;
    line-height: 20px;
    width: 20px;
    font-size: 12px;
    border:solid white 1.5px;
    display:inline-block;
    margin-left: 8px;
    justify-content: center;
    vertical-align: middle;
}

.InfoButton:hover{
    cursor: default;
}

.InfoBox{
    background: gray;
    border: solid white 2px;
    border-radius: 10%;
    position: relative;
    height: 250px;
    width: 200px;
    left: 10px;
}

.NameInput{
    padding: 0px 8px;
    outline: none;
}

.TimeInput{
    background: unset;
    outline-style: none;
    border: inset white 1.5px;
    border-radius: 10px;
}

.TimeInput::-webkit-calendar-picker-indicator{
    filter:invert();
}

.TweetInput{
    width: 500px;
    display: block;
    margin: auto;
    height: 80px;
    border: inset white;
    background: unset;
    resize: none;
    font-size: 16px;

}