.AccountInfo{
    padding: 30px 0px;
    border-bottom: solid gray 1px;
}

.AccountTweetButtons{
    height: 40px;
    display: grid;
    grid-template-columns: 70% 10% 20%;
}

.AccountImageButton{
    display:inline-block;
}

.AccountImageButton img{
    height: 30px;
    cursor: pointer;
}

.AccountTweetButton span{
    border: solid 1px gray;
    border-radius: 30px;
    padding: 6px 12px;
    margin-top: -6px;
    background-color: #1DA1F2;
    cursor: pointer;
}

.AccountPage{
    display:grid;
    grid-template-columns: 30% 70%;
    height:100%;
    max-height: calc(100vh - 50px);
}

.AccountList{
    border-right: solid 2px gray;
    max-height: inherit;
}

.AccountListItem{
    font-size: 16px;
    border-bottom: solid gray 1px;
    padding: 12px;
    cursor:pointer;
}

.AccountItem{
    height: 100%;
    display: grid;
    grid-template-rows: 80px;
}

.AccountItemHandle{
    text-align: center;
    border-bottom:solid gray 2px;
}

.AccountTweetBox{
    text-align: center;
    padding: 30px 30px;

}

.AccountTweetBox textarea{
    width: 95%;
    background-color: #25303B;
    color: white;
    height:100px;
    resize:none;
}

.AddAccount{
    border: solid gray 1px;
    border-radius: 30px;    
    display:inline-block;
    padding: 8px 10px;
}

.AddingAccount{
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
}

.RecentTweet{
    border: solid gray 1px;
    padding: 10px;
}

.RecentTweetsList{
    min-height: 33vh;
    max-height: 33vh;
    border: solid 2px gray;
    margin: 30px;
}