.DotwButton{
    height: 40px;
    min-width: 40px;
    background-color: unset;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DotwButton:hover{
    background-color: #EEEEEE!important;
    cursor: pointer;
}

.DotwButtons{
    display: flex;
    padding: 10px 0px;
}

.DotwButtons span{
    margin: 0px 10px;
}